<div class="container-fluid">
  	<div class="row content">
    	<div class="col-sm-3 sidenav" id="category" style="padding: 0;background: #99CCFF; height: 2500px;">
			<ul class="list-group list-group-flush" style="width: 100%;">
				{{#each lcCategories}}
					<a href="/categories/{{ID}}/products" class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}" {{#if parent_id}}style="width:90%; margin-left:10%;"{{/if}}>{{Name}}
						{{#if num_of_products}}
							<span class = "badge badge-primary float-right">{{num_of_products}}</span>
						{{/if}}
					</a>
				{{/each}}
			</ul>
    	</div>

    <div class="col-sm-6" style = "margin-left:15px;">
      	<h4><small>Trang chủ > Chuyên mục > {{this.CatName}} </small></h4>
      	<hr>
		  	{{#if this.firstProduct}}
				<div class = "row" style = "margin: 2%">
					<a href ="/data/bai_bao_id_5">
						<img src="{{this.firstProduct.Avatar}}" alt="{{this.firstProduct.Title}}" class="img-responsive" style="width:100%; height: 400px;">
					</a>
					<label style="font-size:30px;font-weight:bold; margin-top:5px; "><a href="/data/bai_bao_id_5" style="color: black;">{{this.firstProduct.Title}}</a></label>
					<br>
					<label style="font-size:9px;font-weight:bold;">{{this.firstProduct.Date_Create}} | {{this.firstProduct.Name}}</label>
				</div>
			{{/if}}
		<hr>
		<div class = "row" style = "margin-left: 2%">
			{{#each this.listSecondProduct}}
				{{#if Avatar}}
					<div class="col-sm-4">
						<a href ="/data/bai_bao_id_6">
							<img src="{{Avatar}}" alt="{{Title}}" class="img-responsive" style="width:100%" >
						</a>
						<label style="font-size:20px;font-weight:bold; margin-top:5px; "><a href="/data/bai_bao_id_6" style="color: black;">{{Title}}</a></label>
						<br>
						<label style="font-size:9px;font-weight:bold;">{{Date_Create}} | {{Name}}</label>
					</div>
				{{/if}}
			{{/each}}
		</div>
		<hr>
		{{#each this.listThirdProduct}}
			{{#if Avatar}}
				<div class="row" style="margin-top: 15px;">
					<div class="col-sm-3">
						<a href="/data/bai_bao_id_10">
							<img src="{{Avatar}}" class="img-responsive" style="width: 300px; height: 150px;" alt="{{Title}}">
						</a>
					</div>
					<div class="col-sm-9" style="height:150px;">
						<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_10" style="color:black; ">{{Title}}</a></label>
						<p style="font-size:13px;">{{Summary}}</p>
						<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">{{Date_Create}} | {{Name}}</label>
					</div>
				</div>
			{{/if}}
		{{/each}}
			
			<div class="container">
				<ul class="pagination" style="margin-left: 10%;">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					{{#each this.pages}}
					{{#if active}}
						<li class="page-item active"><a class="page-link" href="javascript:" style="color:black;">{{value}}<span class="sr-only">(current)</span></a></li>
					{{else}}
						<li class="page-item"><a class="page-link" href="?page={{value}}" style="color:black;">{{value}}</a></li>
					{{/if}}
					{{/each}}
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="col-sm-2" style="height: 2500px;">
			<div class="well" style="height: 420px; margin-top:10%; width:400px; position: fixed;">
				<label style="font-size: 15px; margin-top: 5%;">Follow us:</label>
				<div>
					<a href="https://www.facebook.com/groups/ptudw.th16.23/">
						<img src="/picture/facebook_logos_PNG19757.png" class="img-responsive" style="width: 100px;height: 100px; margin-left: 5%; display: inline-block;" alt="Image">
						<label style="font-size:15px; font-weight: bold;">Facebook
							<br>
							<span style="font-size: 15px; color:black; font-weight: bold;">5.5 k Likes</span>
						</label>
					</a>	
				</div>
				<br>
				<div>
					<a href="https://www.instagram.com/sad.rain1996">
						<img src="/picture/download.jpg" class="img-responsive" style="width: 100px;height: 100px; margin-left: 5%; display: inline-block;" alt="Image">
						<label style="font-size:15px; font-weight: bold;">Instagram
							<br>
							<span style="font-size: 15px; color:black; font-weight: bold;">10 k Followers</span>
						</label>
					</a>	
				</div>
				<br>
				<div>
					<img src="/picture/google_-512.png" class="img-responsive" style="width: 100px;height: 100px; margin-left: 5%; display: inline-block;" alt="Image">
					<label style="font-size:15px; font-weight: bold; color: #337AB7;">Email
						<br>
						<span style="font-size: 15px; color:black; font-weight: bold;">nthoang1996@gmail.com</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
